@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

.img01{
    width: 90%;
}

button{
    background-color: aqua;
    color: black;
    padding: 25px;
}
